<!doctype html>
<html class="h-full w-full">
   <head>
      <title><%= name || 'KS Panel' %></title>
      <link rel="icon" href="/assets/logo.webp" type="image/webp">

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="<%= ogTitle %>" property="og:title">
      <meta content="<%= ogDescription %>" property="og:description">
      <link href="/assets/tailwind.css" rel="stylesheet">
      <link href="/css/ks-panel.css" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   </head>
   <body 
  style="
    font-family: 'Public Sans';
    background:
      linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
      url('/assets/background.webp');
    background-position: center top;
    background-repeat: repeat-y; /* repeats vertically */
    background-size: 100% auto;  /* keeps full width */" >
