<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= name %> - Login</title>
  <link href="/css/ks-panel.css" rel="stylesheet">
</head>

<body>

<div class="card">
  <div>
    <h2>Sign in to <%= name %></h2>
    <p>Please enter your account credentials below.</p>
  </div>

  <form id="login-form" onsubmit="event.preventDefault(); submitForm();">
    
    <div>
      <input class="input-field"
             placeholder="Username or Email"
             id="username"
             autocomplete="username"
             required>
    </div>

    <div>
      <input class="input-field"
             placeholder="Password"
             id="password"
             name="password"
             type="password"
             autocomplete="current-password"
             required>
    </div>

    <div style="display: flex; align-items: center; gap: 6px;">
      <input class="checkbox"
             id="remember-me"
             name="remember-me"
             type="checkbox">
      <span class="input-label">Remember me</span>
    </div>

    <div>
      <a class="link" href="/auth/reset-password">Forgot your password?</a>
    </div>

    <div>
      <button class="btn" type="button" onclick="submitForm()">Sign in</button>
    </div>

  </form>
</div>

<script>
document.getElementById('login-form').addEventListener('keypress', function(event) {
  if (event.key === 'Enter') {
    event.preventDefault();
    const username = document.getElementById("username").value.trim();
    const password = document.getElementById("password").value.trim();

    if (username !== "" && password === "") {
      document.getElementById("password").focus();
    } else {
      submitForm();
    }
  }
});

async function submitForm() {
  const username = document.getElementById("username").value.trim();
  const password = document.getElementById("password").value.trim();

  if (username === "" || password === "") {
    document.location.href = `/auth/login?err=InvalidCredentials&state=failed`;
    return;
  }

  const encodedUsername = encodeURIComponent(username);
  const encodedPassword = encodeURIComponent(password);

  document.location.href = `/auth/login?username=${encodedUsername}&password=${encodedPassword}`;
}
</script>

</body>
</html>
